{% extends "hotels/base.html" %}
{% block title %}
  <title>Hotels list</title>
{% endblock %}

{% block content %}

                <label class="to">
                    <span>Выберите страну:</span>
					<select name="countries" id="country_select">
						<option value="0">По умолчанию</option>
                        {% for item in country_list %}
                            <option value="{{ item }}">{{ item }}</option>
                        {% endfor %}
					</select>
  
                </label>
                <label class="to">
          <span>Сортировать по:</span>
					<select name="sorting" id="sorting">
						<option value="0">без сортировки</option>
            <option value="1">По цене (возрастание)</option>
            <option value="2">ПО цене (убывание)</option>
					</select>
  
                </label>
  
         <div class="preview" id="list_of_hotels">
  
        </div>
    </div>

{% endblock %}

{% block js %}
    {% load static %}
    <script src="{% static "script.js" %}"></script>
{% endblock %}

